.usecaseOne
{   
    margin-top: 195px;
    line-height: 20px;
}
.usecaseOne p{
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 6vw;
    font-weight: 300;
    font-style: italic;
}
.role{
    text-align: center;
    color: #000000;
    font-size: 3.5vw;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 130px;
    margin-left:-90px
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 10px;
    padding: 10px;
    margin-top: -50px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    border-radius: 50px 50px 50px 50px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    width: 350px;
    height: 68px;
    line-height: 60px;
    font-style: italic;
  }

  .load{
        text-align: center;
        color: #000000;
        font-family: "Poppins", Sans-serif;
        font-size: 1.2vw;
        font-weight: 600;
        font-style: italic;
        margin-left: -80px;
       
  }